<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <title>LOGIN PAGE</title>
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="../img/logo.svg">
        </div>
        <div class="login-container">
            <form>
                <div class="textcontainer">
                    <p class="logintext" >E-MAIL ADDRESS</p>
                </div>
                <input name="email" type="text">
                <div class="textcontainer">
                    <p class="logintext" >PASSWORD</p>
                </div>
                <input name="password" type="password">
                <button class="loginbutton">LOGIN</button>
            </form>
        </div>
    </div>
</body>