body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    background: transparent linear-gradient(136deg, #70FF70 0%, #FF4040 100%) 0% 0% no-repeat padding-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 50%;
    text-align: center;
}

.login-container {
    width: 30%;
    height: 40vh;
    display: flex;
    align-self: center;
    justify-self: center;
    align-items: center;
    flex-direction: column;
}


form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    height: 100%;
    background: #FAEBE6 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 6px #00000029;
    border-radius: 57px;
}

input {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070D6;
    border-radius: 12px;
    align-self: center;
    width: 80%;
    height: 15%;
}

.loginbutton {
    background: transparent linear-gradient(127deg, #70FF70 0%, #91DC6F 0%, #FF4040 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #707070D6;
    border-radius: 12px;
    opacity: 0.85;
    width: 80%;
    height: 15%;
    margin: 1em;
    line-height: 2.5em;
    align-self: center;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.textcontainer {
    position:relative;
    height: 15%;
}

.logintext {
    display: inline-block;
    height: 15%;
    padding-left: 10%;
    position: absolute;
    bottom: 10%;
}


.register-container{
    width: 30%;
    height: 50vh;
    display: flex;
    align-self: center;
    justify-self: center;
    align-items: center;
    flex-direction: column;
}

.register-container form {
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
}

.register-container form input {
    text-align: center;
    text-justify: center;
}


@media only screen and (max-device-width: 420px) {
    .container {
        flex-direction: column;
    }

    * {
        font-size: 36px;
    }

    .login-container, .logo {
        width: 100%;
        height: 90%;
    }

    form {
        margin: auto;
        height: 60%;
    }
    
    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 45%;
    }

    img {
        height: 7em;
        margin: 2em;
    }
}

.no-valid {
    border: 3px solid red;
    border-radius: 1em;
    box-shadow: 0 0 0.2em red;
    outline: none;
}