.maincontent{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
}

.routeinfo{
    display: flex;
    flex-direction: row;
    height: 22%;
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
}

.routeinfo > div{
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.routeinfo p{
    margin: 10px;
}

.mapbutton {
    font-size: 1em;
    padding: 2%;
    font-family: 'Montserrat', sans-serif;
    background: transparent linear-gradient(136deg, #70FF70 0%, #FF4040 100%);
    border-radius: 20px;
    border-style: none;
}

.reviewsandgallery {
    display: flex;
    box-sizing: border-box;
    padding-top: 2%;
    height: 80%;
}

.reviewsandgallery > div{
    flex-grow: 1;
    padding-left: 5%;
    padding-right: 5%;
    align-items: center;
    flex-direction: column;
}

.reviews {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow-y: scroll;    
    min-height: 10vh;
    row-gap: 3em;
}

.review {
    display: flex;
    width: 100%;
    flex-direction: column;
    box-shadow: 4px 4px 15px rgb(202, 202, 202);
}

.reviewerphoto {
    padding-left: 2%;
    padding-top: 2%;
    margin-right: 10%;
}

.photo {
    border-radius: 50%;
}

.reviewinfo {
    display: flex;
    flex-direction: row;
    width: 80%;
}

.reviewinfo > div {
    font-family: 'Montserrat', sans-serif;
}

.reviewdata {
    display: flex;
    flex-direction: column-reverse;
}

.reviewername {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
}

.reviewername > p {
    margin: 0;
}

.metadata {
    display: flex;
    flex-direction: row;
}

.metadata p {
    margin-bottom: 0;
}

.metadata > .rating {
    margin-right: 1%;
}

.reviewtext {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    padding: 2%;
}

.gallery{
    flex-basis: 100%;
}

.picture {
    position: relative;
    display: inline-block;
    text-align: center;
}

.picture > img {
    width: 75%;
}
.gallerybuttons {
    display: flex;
    flex-direction: row;
    justify-content: center
}

.gallerybutton {
    background: transparent linear-gradient(136deg, #70FF70 0%, #FF4040 100%);
    width: 40%;
    height: 4rem;
    border-radius: 18px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    margin-left: 5%;
    margin-right: 5%;
}

.addbutton {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 5vw;
    height: 5vw;
    font-size: 2em;
    z-index: 1;
    margin: 3%;
    border-radius: 50%;
    border-style: none;
    color: white;
    background: transparent linear-gradient(136deg, #70FF70 0%, #FF4040 100%);
}
